*{
  margin: 0px;
  padding: 0px;
}
.container{
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}
h1{
  text-align: center;
  margin-bottom: 50px;

}
.select{
  margin-left: 15px;
  overflow: hidden;
  button{
    width: 20px;
    height: 20px;
    float: left;
  }
  .audio{
    img{
      position: absolute;
      top: 50%;
      top: 21%;
      left: 7px;
      /*margin-left: 20px;*/
    }
    button{
      position: relative;
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }
  }
}
p{
  font-size: 20px;
  color: #bf0000;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
}
.floor{
  font-weight: bold;
  font-size: 20px;
  color: #bf0000;
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  span{

  }
  input{
    border: 1px solid gray;
    border-radius: 2px;
    color: #333;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    font-size: 17px;
    font-weight: 550;
    text-align: center;
  }
  button{
    width: 38px;
    height: 38px;
    background: transparent;
    border: none;
    outline: none;
    img {
      width: 100%;
      border: 2px solid #4285F4;
      border-radius: 50%;
      padding: 5px;
      box-sizing: border-box;
      &:hover{
        border-color: #2c59a4;
      }
    }
  }
  .speech-loader{
    height: 60px;
    opacity: 0;
    visibility: hidden;
    &.visible{
      opacity: 1;
      visibility: visible;
    }
  }
}
.content-wrapper{
  width: 960px;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .glass{
    display: none;
    position: absolute;
    width: 100%;
    height: 400px;
    bottom:0;
    left:0;
    background: #e27f7b;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
  }
  .arrow{
    padding: 0 35px;
    margin-top: 100px;
    ul{
      li{
        list-style: none;
        margin-bottom: 10px;
        button{
          background: transparent;
          border: none;
        }
        img{
          width: 27px;
        }
      }
    }
  }
  .elevator{
    flex: 1;
    &:last-child{
      margin-right: 0;
    }
    .number-wrapper {
      margin-bottom: 30px;
      .number {
        font-weight: bold;
        width: 82px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 5px;
        background: #322222;
        color: #FDFDB6;
        font-size: 20px;
        display: block;
        border: 3px dashed #444;
        .down {
          transform: rotate(180deg);
        }
        img{
          width: 13px;
          margin-left: 10px;
        }
      }
    }
    .content{
      overflow: hidden;
      height: 300px;
      display: block;
      border: 20px solid #d6d5d5;
      border-top-color: #c3c3c3;
      border-bottom-color: #d6d5d5;
      border-left-color: #d6d5d5;
      border-right-color: #d6d5d5;
      position: relative;
      .choose-floor{
        position: absolute;
        width: 108px;
        left: 50%;
        transform: translate(-50%, 30px);
        z-index: 1;
        button{
          float: left;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border:2px solid #666;
          margin-left: 2px;
          margin-right: 2px;
          font-weight: 550;
          margin-bottom: 4px;
          &:hover{
            border-color: aqua;
          }
        }
        .voice {
          width: 38px;
          height: 38px;
          margin: 20px auto 0 auto;
          img {
            width: 100%;
            margin-top: 21px;
            border: 2px solid #4285F4;
            border-radius: 50%;
            padding: 5px;
            box-sizing: border-box;
            &:hover{
              border-color: #2c59a4;
            }
          }
        }
      }
      .left{
        float: left;
        width: 50%;
        background: #7e8c9c;
        box-sizing: border-box;
        border-right: 1px solid #dfdfdf;
        height: 100%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        position: relative;
        z-index: 2;
      }
      .right{
        float: right;
        width: 50%;
        box-sizing: border-box;
        background: #7e8c9c;
        border-left: 1px solid #dfdfdf;
        height: 100%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        position: relative;
        z-index: 2;
      }
    }
    &.open{
      .content{
        .left{
          width: 20px;
        }
        .right{
          width: 20px;
        }
      }
    }
  }
}

